// Base styles START
.loading {
  overflow: hidden;
}
.main {
  position: relative;
}
.bold {
  font-weight: 800;
}
.main-color {
  color: $mainColor;
}
.dvizh {
  font-size: 25px;
}
.btn{
  padding: 20px 50px;
  border-radius: 20px;
  background-color: $mainColor;
  color: #000;
  transition: .2s all;
  &:hover{
    background-color: darken($color: $mainColor, $amount: 5%);
  }
}
.center-content{
  text-align: center;
}
.title{
  font-size: 28px;
  font-weight: 800;
  position: relative;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  &:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFF;
    position: relative;
    top: 3px;
  }
}
// Base styles END
// ////////////////////////////////////////////////////
// Header START
.page-top__wrap {
  position: relative;
}
.page-top__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding-top: 40px;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px
}
.navigation__list{
  display: flex;
  position: relative;
  top: -10px;
}
.navigation__list-link{
  font-size: 22px;
  color: #FFF;
  margin-left: 40px;
  transition: .2s all;
  &:hover{
    color: $mainColor;
  }
}
// Header END
// ////////////////////////////////////////////////////
// Main screen START
.main-screen{
  // background-size: 100%;
  // background-repeat: no-repeat;
  // background-position: 0 10vw;
  // min-height: 1000px;
  // height: 850px;
  height: 100vh;
  max-height: 950px;
  // height: 100%;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  // max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center
}
.main-screen__video{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.main-screen__video-filter{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000;
  opacity: .73;
  top: 0;
  left: 0;
}
.main-screen__pic{
  display: block;
  width: 85%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // top: 180px;
  bottom: -800px;
  z-index: -1;
}
.main-screen__content{
  text-align: center;
}
.main-screen__logo{
  max-width: 150px;
  
}
.main-screen__title{
  font-weight: 800;
  // font-size: 48px;
  font-size: 80px;
  // color: $mainColor;
  color: #FFF;
  margin-top: 110px;
}
.main-screen__subtitle{
  font-size: 25px;
  display: block;
  margin-bottom: 60px;
  color: #FFF;
}
.main-screen__text{
  position: relative;
  z-index: 2;
}
// Main screen END
// ////////////////////////////////////////////////////
// Info START
.info{
  position: relative;
  background-color: #000;
}
.info__text {
  font-size: 20px;
  font-weight: 600;
}
.main-screen__arrow{
  position: absolute;
  z-index: 2;
  width: 30px;
  bottom: 30px;
  left: 49%;
  transform: translateX(-50%);
  animation: mainScreenArrow 1s infinite;
}
// Info END
// ////////////////////////////////////////////////////
// Schedule START
.schedule__content{
  text-align: center;
}
.schedule-table{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.schedule-table__row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #777;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
}
.schedule-table__col{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.date{
  font-weight: 800;
  color: $mainColor;
  width: 10%;
}
.city{
  font-weight: 800;
  text-transform: uppercase;
  width: 30%;
}
.address-info{
  width: 30%;
  text-transform: uppercase;
}
.tickets{
  width: 30%;
  align-items: flex-end;
}

.place{
  font-weight: 800;
}
.address{
  font-weight: 300;
  margin: 5px 0px;
}
.time{
  font-weight: 300;
}
// Schedule END
// ////////////////////////////////////////////////////
// Media START
.media__content{
  text-align: center;
}
.media__video{
  width: 100%;
  height: 515px;
  border: none;
}
// Media END
// ////////////////////////////////////////////////////
// Footer social START
.footer{
  padding: 50px 0px;
}
.social{
  display: flex;
  justify-content: center;
}
.social__list{
  display: flex;
  align-items: center;
}
.social__list-link {
  max-width: 80px;
  margin: 0 20px;
  & svg {
    transition: .2s all;
  }
  &:hover{
    & svg {
      fill: $mainColor;
    }
  } 
}
// Footer social END
// ////////////////////////////////////////////////////
// Loader START
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 150;
}
.loader__bcg {
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}
.loader__logo {
  max-width: 100px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  top: 48%;
}
.loader__overlay{
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 120;
  opacity: .9;
  animation: fadeToggle 2s infinite;
}
.loader-circle {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  z-index: 130;
  width: 155px;
  height: 155px;
}
.loader-circle > div {
  height: inherit;
  width: inherit;
  position: absolute;
  animation-name: rotate;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.loader-circle > div > div {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: $mainColor;
  position: absolute;
  top: 0%;
  right: 50%;
  transform: translate(50%, 0%);
}
.loader-circle > div:nth-child(2) {
  animation-delay: 0.2s;
}
.loader-circle > div:nth-child(3) {
  animation-delay: 0.4s;
}
.loader-circle > div:nth-child(4) {
  animation-delay: 0.6s;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}

// Loader END
// ////////////////////////////////////////////////////
// Animations START
@keyframes mainScreenArrow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}
@keyframes fadeToggle {
  0% { opacity: .9; }
  50% { opacity: 0; }
  100% { opacity: .9; }
}
// Animations END