// Font
$mainFont       : 'Intro', Helvetica, Arial, sans-serif;
$mainFontColor  : #101010;
$mainColor      : #FED200;

// Size
// $mainFontSize   : 18px;
$desktopWidth   : 1280px;
$smDesktopWidth : 980px;
$tabletWidth    : 768px;
$phoneWidth     : 480px;
$smPhoneWidth   : 320px;

// Colors
